<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463099628580-khev374bt4f2l4jh9k4iq2khtkn5m7pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463099628580-khev374bt4f2l4jh9k4iq2khtkn5m7pb</string>
	<key>API_KEY</key>
	<string>AIzaSyBXW9MArp79443qOohXh-X5twZ1Su_hyn8</string>
	<key>GCM_SENDER_ID</key>
	<string>463099628580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Yaroslav.todoey-air</string>
	<key>PROJECT_ID</key>
	<string>todoey-air</string>
	<key>STORAGE_BUCKET</key>
	<string>todoey-air.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463099628580:ios:68881b1a6542d0177e9cb1</string>
</dict>
</plist>